@page
@model ClubBAISTGolfClub.Pages.BookTeeTimeModel
@{
    Layout = "_Header";
    ViewData["Title"] = "Book Tee Time";
}

<div class="bookTee">
    <nav class="memberhome_nav">
        <ul>
            <li>
                <a href="~/MemberHome">My Account</a>
            </li>
            <li>
                <a href="~/BookTeeTime">Tee Times</a>
            </li>
            <li>
                <a href="~/TeeTimeReservations">Reservations</a>
            </li>
            <li>
                <a href="/Scores">Rec Scores</a>
            </li>
            @if (Model.Member.MembershipType == "Admin")
            {
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="~/Admin">Admin</a>
                </li>
            }
            @if (Model.Member.MembershipType == "Shareholder")
            {
                <li>
                    <a href="~/ShareHolder">Applicants</a>
                </li>
            }
        </ul>
    </nav>
    <div class="infodivs">   
       <form name="TeeTimes" method="post" class="teetimeForm">
            <div class="month_form">
                <select id="menu" name="Month" class="month_input">
                    <option value="#">@Model.MonthName</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                </select>

                <input type="submit" name="Go" value="Go" />
            </div>
            <table border="1" class="bookingtable">
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
                @for (int row = 0; row < 6; row++)
                {
                    <tr>
                        @for (int col = 0; col < 7; col++)
                        {
                            if (@Model.Calendar[row, col] != 0)
                            {
                                <td><input type="radio" name="Day" value="@Model.Calendar[row, col]" />@Model.Calendar[row, col]</td>
                            }
                            else
                            {
                                <td>-</td>
                            }
                        } 
                    </tr>
                }           
            </table>
            <p class="error past_date">@Model.ErrorMessage</p>
            <input type="submit" name="Go" value="BookDate" class="bookDatebutton" />
            @if (Model.TextDate != null)
            {
                <div class="appointment">
                    <p>@Model.TextDate</p>
                    <p>Number Of Players</p>
                    <input type="number" name="PlayerNumber" min="0" max="4"  />
                    <input type="submit" name="Go" value="PNumber" class="playerbutton" />
                    <p>Time Slots According to @Model.Member.MembershipType Privileges</p>
                    @if (Model.Member.MembershipType == "Gold" || Model.Member.MembershipType == "Admin" || Model.Member.MembershipType == "ShareHolder" || Model.Member.MembershipType == "Shareholder")
                    {
                        <select id="teeTimeSelect" name="TeeTime">
                            <option value="07:00">07:00 AM</option>
                            @for (int hour = 7; hour < 20; hour++)
                            {
                                for (int minute = 7; minute < 60; minute += 8)
                                {
                                    if (hour < 12)
                                    {
                                        <option value="@($"{hour:D2}:{minute:D2}")">@($"{hour:D2}:{minute:D2}AM")</option>
                                    }
                                    if (hour > 12)
                                    {
                                        <option value="@($"{hour:D2}:{minute:D2}")">@($"{hour:D2}:{minute:D2}PM")</option>
                                    }

                                }
                            }
                            
                        </select>
                    }
                    @if (Model.Member.MembershipType == "Silver")
                    {       
                        <select id="teeTimeSelect" name="TeeTime">
                            @* Before 3pm *@
                            <option value="07:00">07:00 AM</option>
                            @for (int hour = 7; hour < 15; hour++)
                            {
                                for (int minute = 7; minute < 60; minute += 8)
                                {
                                    if (hour < 12)
                                    {
                                        <option value="@($"{hour:D2}:{minute:D2}")">@($"{hour:D2}:{minute:D2}AM")</option>
                                    }
                                    if (hour > 12)
                                    {
                                        <option value="@($"{hour:D2}:{minute:D2}")">@($"{hour:D2}:{minute:D2}PM")</option>
                                    }
                                   
                                }
                            }
                            @* After 5:30pm *@
                            @for (int hour = 17; hour < 20; hour++)
                            {
                                for (int minute = 30; minute < 60; minute += 8)
                                {
                                    <option value="@($"{hour:D2}:{minute:D2}")">@($"{hour:D2}:{minute:D2}PM")</option>
                                }
                            }
                        </select>

                    }
                    @if (Model.Member.MembershipType == "Bronze")
                    {
                        <select id="teeTimeSelect" name="TeeTime">
                            @* Before 3pm *@ 
                            <option value="07:00">7:00 AM</option>
                            <option value="07:15">7:15 AM</option>
                            <option value="07:30">7:30 AM</option>
                            <option value="07:45">7:45 AM</option>
                            <option value="08:00">8:00 AM</option>
                            <option value="08:15">8:15 AM</option>
                            <option value="08:30">8:30 AM</option>
                            <option value="08:45">8:45 AM</option>
                            <option value="09:00">9:00 AM</option>
                            <option value="09:15">9:15 AM</option>
                            <option value="09:30">9:30 AM</option>
                            <option value="09:45">9:45 AM</option>
                            <option value="10:00">10:00 AM</option>
                            <option value="10:15">10:15 AM</option>
                            <option value="10:30">10:30 AM</option>
                            <option value="10:45">10:45 AM</option>
                            <option value="11:00">11:00 AM</option>
                            <option value="11:15">11:15 AM</option>
                            <option value="11:30">11:30 AM</option>
                            <option value="11:45">11:45 AM</option>
                            <option value="12:00">12:00 PM</option>
                            <option value="12:15">12:15 PM</option>
                            <option value="12:30">12:30 PM</option>
                            <option value="12:45">12:45 PM</option>
                            <option value="13:00">1:00 PM</option>
                            <option value="13:15">1:15 PM</option>
                            <option value="13:30">1:30 PM</option>
                            <option value="13:45">1:45 PM</option>
                            <option value="14:00">2:00 PM</option>
                            <option value="14:15">2:15 PM</option>
                            <option value="14:30">2:30 PM</option>
                            <option value="14:45">2:45 PM</option>
                            <option value="15:00">3:00 PM</option>
                            @*  After 6:00pm *@
                            <option value="18:15">6:15 PM</option>
                            <option value="18:30">6:30 PM</option>
                            <option value="18:45">6:45 PM</option>
                            <option value="19:00">7:00 PM</option>
                            <option value="19:15">7:15 PM</option>
                            <option value="19:30">7:30 PM</option>
                            <option value="19:45">7:45 PM</option>
                            <option value="20:00">8:00 PM</option>
                        </select>
                    }

                    @if (Model.PlayerNumber == 1)
                    {
                         <input type="number" name="Player1Id" placeholder="PlayerID" />
                    }
                    @if (Model.PlayerNumber == 2)
                    {
                        <input type="number" name="Player1Id" placeholder="PlayerID" />
                        <input type="number" name="Player2Id" placeholder="PlayerID" />
                    }
                    @if (Model.PlayerNumber == 3)
                    {
                        <input type="number" name="Player1Id" placeholder="PlayerID" />
                        <input type="number" name="Player2Id" placeholder="PlayerID" />
                        <input type="number" name="Player3Id" placeholder="PlayerID" />
                    }
                    @if (Model.PlayerNumber == 4)
                    {
                        <input type="number" name="Player1Id" placeholder="PlayerID" />
                        <input type="number" name="Player2Id" placeholder="PlayerID" />
                        <input type="number" name="Player3Id" placeholder="PlayerID" />
                        <input type="number" name="Player4Id" placeholder="PlayerID" />
                    }

                    @if (Model.PlayerNumber > 0)
                    {
                        foreach (string message in Model.ErrorList)
                        {
                            <p class="error">@message</p>
                        }
                        <p>@Model.SuccessMessage</p>
                        <input type="submit" name="Go" value="BookTime" class="playerbutton" />
                    }                  
                </div>             
            }
        </form>    
    </div>
</div>
